/* --
*********************************************************************************
*  Component:   Calendar.css                                                    *
*  Description:                                                                 *
*                                                                               *
*********************************************************************************
*  Chg#    Release  Description                                                 *
*  M253O1  CTS      For the Calendar Heading for ULEII Changes - celldisplaygrn *
*                                                                               *
*                                                                               *
*                                                                               *
*********************************************************************************
*/
.calhead
{
    background-color: #0000A4;
    border-color: #0000A4;
    border-style: solid;
    border-width: 2px;
    color: #ffef52;
    font-weight:bold;
    height: 22px;    
    text-align: center;
    font-size: 8pt;
}
.calmore
{
    background-color: #0000A4;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    color: #ffef52;
    font-weight:bold;
    text-align: center;
    font-size: 8pt;
}
.calrow
{
    background-color: #cbeaf8;
    text-align: center;
    cursor: pointer;
}
.caldow
{
    background-color: #87cefa;
    color: #565656;
    text-align: center;
    font-size: 8pt;
}
.calwed
{
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 2px;
    font-size: 8pt;
}
.calbold
{
    border-color: red;
    border-style: solid;
    border-width: 2px;
    font-size: 8pt;
}
.calcell
{
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 2px;
    font-size: 8pt;
}
.celldisplaygrn
{
    BACKGROUND-COLOR: #008000;
    border:solid;
    border-width:1px;
    COLOR: #ffef52;
    FONT-FAMILY: verdana;
    FONT-SIZE: 14pt;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold
}

