.celltitle
{
 font-size: 90%; 
 font-family: "Arial", "Helvetica", "sans-serif";
 text-decoration: none;
 font-weight: bold;
 color: #004A2A;
 bordercolorlight=#DFEAE7;
}

a.anchorblack
{
 color:black;
}

.celldisplaykeylabel
{
 font-size: 80%; 
 font-family: "Arial", "Helvetica", "sans-serif";
 text-decoration: none;
 font-weight: bold;
 color: #004A2A;
 TEXT-ALIGN: right; 
}
.celldisplaykey
{
 font-size: 80%; 
 font-family: "Arial", "Helvetica", "sans-serif";
 text-decoration: none;
 font-weight: bold;
 color: #004A2A
 
}
.celldisplaykeylabel2
{
 font-size: 80%; 
 font-family: "Arial", "Helvetica", "sans-serif";
 text-decoration: none;
 font-weight: bold;
 color: black
}
.celldisplaykey2
{
 font-size: 80%; 
 font-family: "Arial", "Helvetica", "sans-serif";
 text-decoration: none;
 font-weight: bold;
 color: black
}
.celllabelleftalign
{
 font-size: 90%; 
 font-family: "Arial", "Helvetica", "sans-serif";
 text-decoration: none;
 font-weight: bold;
 color: #004A2A
}
.celllabeldataentry  
{ 
  background-color: #EAFFD5;
}
.type1
{
 font-size: 90%; 
 font-family: "Arial", "Helvetica", "sans-serif";
 color: #000000;
}
.tabledisplay
{
    border-collapse: collapse;
    empty-cells: show; 
    bgcolor:#FFFFFF;
    WIDTH: 100%;
    border-color: #0D4A2B;
}
.celldisplayheading
{
  font-size: 90%;
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: bold;
  color: #004A2A;
  text-align: center;
  border:solid;
  border-width:1px;
  border-color: #0D4A2B;
}


.celldisplay	
{
  font-size: 75%; 
  font-family: "Arial", "Helvetica", "sans-serif";
  color: #000000;
  text-align: center;
  BACKGROUND-COLOR: #EAFFD5;
  border-color: #0D4A2B;
}
.celldisplay2
{
  font-size: 80%; 
  font-family: "Arial", "Helvetica", "sans-serif";
  color: #000000;
  text-align: center;
  BACKGROUND-COLOR: #EAFFD5;
}
.TitleLine
{
  BACKGROUND-COLOR: #666666;		
}
.TableTitle
{
 font-size: 90%; 
 font-family: "Arial", "Helvetica", "sans-serif";
 text-decoration: none;
 font-weight: bold;
 color: #004A2A;
}
.tabledisplay1
{
  bordercolor:#0D4A2B;
  bordercolordark=#DFEAE7; 
  border:1px;
  cellpadding:1px;
}
.celldisplaylabel
{
  font-size: 90%; 
  font-family: "Arial", "Helvetica", "sans-serif";
  text-decoration: none;
  font-weight: bold;
  color: #004A2A
}

.celldisplayheading2
{
  font-size: 90%; 
  font-family: "Arial", "Helvetica", "sans-serif";
  text-decoration: none;
  font-weight: bold;
  color: #004A2A
}

.celldisplay3  
{ 
 
  background-color: #EAFFD5;
  bordercolordark=#DFEAE7;
  bordercolor=#0D4A2B;
  cellpadding:1px;
  border:1px;
}

.bodybutton
{
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 6px
}

.tabledataentry
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    border-color: #0D4A2B;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.cellmessage
{
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana;
    FONT-SIZE: 12px;
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}
.bodymessage
{
    BACKGROUND-COLOR: #EAFFD5;
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 12px;
    MARGIN-LEFT: 10px;
    MARGIN-RIGHT: 2px;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
}