/* --
*********************************************************************************
*  Component:   Ingenium.css                                                    *
*  Description:                                                                 *
*                                                                               *
*********************************************************************************
*  Chg#    Release  Description                                                 *
*                                                                               *
*  014590  6.0      New for release 6.0                                         *
*  016905  611J     Rename filenames to lower case to work on Sun platform      *
*  EN9512  PF4.0.2  PathFinder Upgrade                                          *                                                                               *
*  23774B  CTS      IE Retirement Changes                                                                             *
*********************************************************************************
*/

P
{
    COLOR: #000066;
    FONT-SIZE: 10pt;
}
H1
{
    FONT-FAMILY: verdana;
    FONT-SIZE: 16pt;
}
H2
{
    COLOR: #000066;
    FONT-FAMILY: verdana;
    FONT-SIZE: 10pt;
}
H3
{
}
A
{
}
A:visited
{
}
A:active
{
}
A:hover
{
    COLOR: #0000ff;
}
BODY
{
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 9pt;
	    MARGIN: 12px;
}
.bodyws
{
    BACKGROUND-IMAGE: url(../images/centbak.gif);
    BACKGROUND-REPEAT: no-repeat;
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 9pt;
    MARGIN: 10px;
}
.bodymessage
{
    BACKGROUND-COLOR: #ffffcc;
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 10px;
    MARGIN-LEFT: 10px;
    MARGIN-RIGHT: 2px;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
}
.bodybutton
{
    BACKGROUND-IMAGE: url(../images/frmbtm.gif);
    BACKGROUND-REPEAT: repeat;
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 9pt;
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 6px;
}
.bodytitle
{
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 0px;
}
.bodytree
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 2px;
    MARGIN-TOP: 2px;
}
.tabledataentry
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif, ms pgothic;
}
.celldataentryheading
{
    BACKGROUND-COLOR: #0000A4;
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    COLOR: #ffef52;
    FONT-FAMILY: tahoma, verdana, ms pgothic;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
}
.celllabeldataentry
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana, arial, ms pgothic;
    FONT-SIZE: 9pt;
}
.celllabelrightalign
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-RIGHT: 6px;
    COLOR: #000080;
    FONT-FAMILY: tahoma, verdana, arial, ms pgothic;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 6px;
    MARGIN-LEFT: 4px;
    MARGIN-TOP: 6px;
    TEXT-ALIGN: right;
}
.celllabelleftalign
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-RIGHT: 6px;
    COLOR: #000080;
    FONT-FAMILY: tahoma, verdana, arial, ms pgothic;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 6px;
    MARGIN-LEFT: 4px;
    MARGIN-TOP: 6px;
    TEXT-ALIGN: left;
}
.celllabelinactive
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-RIGHT: 6px;
    COLOR: #808080;
    FONT-FAMILY: tahoma, verdana, arial, ms pgothic;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 6px;
    MARGIN-LEFT: 4px;
    MARGIN-TOP: 6px;
    TEXT-ALIGN: right;
}
.tabledisplay
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: ms pgothic, verdana, arial, helvetica, sans-serif;
    WIDTH: 100%;
    BORDER-COLOR: #F0F0F0;
}
.tabledisplaynowidth
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: ms pgothic, verdana, arial, helvetica, sans-serif;
    BORDER-COLOR: #F0F0F0;
}
.celldisplay
{
    BACKGROUND-COLOR: #cbeaf8;
    COLOR: #000066;
    FONT-FAMILY: ms pgothic, verdana;
    FONT-SIZE: 10pt;
}
.celldisplaylabel
{
    BACKGROUND-COLOR: #cbeaf8;
    COLOR: #000066;
    FONT-FAMILY:  ms pgothic, verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right;

}
.celldisplayheading
{
    BACKGROUND-COLOR: #0000A4;
    COLOR: #ffef52;
    FONT-FAMILY: ms pgothic, verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
}
.tabledisplaykey
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-BOTTOM: 1px;
    FONT-FAMILY: ms pgothic, tahoma, verdana, arial, helvetica, sans-serif;
    WIDTH: 100%;
}
.celldisplaykeylabel
{
    PADDING-RIGHT: 6px;
    COLOR: #666666;
    FONT-FAMILY: ms pgothic, tahoma, verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right;
}
.celldisplaykey
{
    COLOR: #999999;
    FONT-FAMILY: ms pgothic, tahoma, verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
}
.tabledatakey
{
    BORDER-BOTTOM: 2px ridge;
    BORDER-LEFT: 2px ridge;
    BORDER-RIGHT: 2px ridge;
    BORDER-TOP: 2px ridge;
    PADDING-BOTTOM: 1px;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    WIDTH: 100%;
}
.celldatakeylabel
{
    PADDING-RIGHT: 6px;
    COLOR: #000080;
    FONT-FAMILY: tahoma, verdana, ms pgothic;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right;
}
.celldatakey
{
    COLOR: #000080;
    FONT-FAMILY: tahoma, verdana, ms pgothic;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: left;
}
.tableanchors
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
}
.cellanchors
{
    PADDING-RIGHT: 6px;
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, ms pgothic;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: center;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-TOP: 3px;
    PADDING-BOTTOM: 3px;
    BORDER-RIGHT: 1px solid;
}
.backtotop
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, ms pgothic;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
    text-decoration: underline;
}
.hrsmall
{
    COLOR: #000099;
    HEIGHT: 2px;
    WIDTH: 100%;
}
.hrbig
{
    COLOR: #000099;
    HEIGHT: 4px;
    WIDTH: 100%;
}
.tabletitle1
{
    BACKGROUND-IMAGE: url(../images/top_bnr1.gif);
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    BORDER-TOP-WIDTH: 0px;
    HEIGHT: 47px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: 1024px;
}
.celltitle1
{
    COLOR: #ffff00;
    FONT-FAMILY: tahoma, verdana, arial, ms pgothic;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    vertical-align: top;
}
.tabletitle2
{
    BACKGROUND-IMAGE: url(../images/top_bnr2.gif);
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana, arial, ms pgothic;
    FONT-SIZE: 10pt;
    HEIGHT: 62px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: 1024px;
}
.celltitle2
{
    COLOR: #000080;
    FONT-FAMILY: tahoma, verdana, arial, ms pgothic;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    vertical-align: middle;
}
.tablebutton
{
    BORDER-BOTTOM: 0px solid;
    BORDER-LEFT: 0px solid;
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FLOAT: left;
    LEFT: 2px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
}
.cellbutton
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}
.tablemessage
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
}
.cellmessage
{
    COLOR: #000066;
    FONT-FAMILY: tahoma, verdana, ms pgothic;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}
.clsmandatory
{
    COLOR: #FF0000;
}
.deltext
{
    BACKGROUND-COLOR: #FF0000;
}
.addtext
{
    BACKGROUND-COLOR: #FF0000;
}
