/* --
*********************************************************************************
*  Component:   IngeniumBlkLnPrint.css                                          *
*  Description: Style Sheet Created for improving the Print Layout for the Html *
*                                                                               *
*********************************************************************************
*  Chg#    Release  Description                                                 *
*                                                                               *
*  EN000193  6.1.3  Newly Created for Print Enhancement				*  
*                                                                               *
*********************************************************************************
*/

.tabledisplay
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    empty-cells: show; 
    border-collapse: collapse;
    border-color: #000000; 
}
.celldisplay
{
    color: #000066;
    border:solid;
    border-width:1px;
    border-color: #000000; 
    BACKGROUND-COLOR: #cbeaf8;
    FONT-FAMILY: verdana;
    FONT-SIZE: 10pt
}
.celldisplayheading
{
    BACKGROUND-COLOR: #0000A4;
    COLOR: #ffef52;
    border:solid;
    border-width:1px;
    border-color: #000000;
    FONT-FAMILY: verdana;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
