/********************************************************************/ 
/*  All right, title and interest in and to the software            */ 
/*  (the "Software") and the accompanying documentation or          */ 
/*  materials (the "Documentation"), including all proprietary      */ 
/*  rights, therein including all patent rights, trade secrets,     */ 
/*  trademarks and copyrights, shall remain the exclusive           */ 
/*  property of Electronic Data Systems LLC.                        */ 
/*  No interest, licence or any right respecting the Software       */ 
/*  and the Documentation, other than expressly granted in          */ 
/*  the Software Licence Agreement, is granted by implication       */ 
/*  or otherwise.                                                   */ 
/*                                                                  */ 
/*  (C) Copyright 2000-2007 Electronic Data Systems LLC.            */ 
/*  All rights reserved.                                            */ 
/*                                                                  */ 
/*  Each Party agrees to (a) comply with all applicable laws        */ 
/*  regarding export or re-export of the Confidential               */ 
/*  Information, technical data, or derivatives of such items;      */ 
/*  and (b) not to export or re-export any such items to a          */ 
/*  destination or end user for which applicable law, including     */ 
/*  Canadian or U.S. law, requires an export license or other       */ 
/*  approval without first having obtained such license or          */ 
/*  approval.                                                       */ 
/********************************************************************/ 
P {
	COLOR: #000066;
	FONT-SIZE: 10pt
}

H1 {
	FONT-FAMILY: Verdana;
	FONT-SIZE: 18pt
}

h2 {
	color: #000066;
	font-family: Verdana;
	font-size: 11pt
}

H3 {
	
}

A {
	
}

A:visited {
	
}

A:active {
	
}

A:hover {
	COLOR: #0000ff;
}

BODY {
	COLOR: #000066;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 10pt;
	MARGIN: 12px
}

.bodyws {
	COLOR: #000066;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 10pt;
	MARGIN: 10px
}

.bodymessage {
	BACKGROUND-COLOR: #ffffcc;
	COLOR: #000066;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 10px;
	MARGIN-LEFT: 10px;
	MARGIN-RIGHT: 2px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
}

.bodybanner {
	COLOR: #000066;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 10px;
	MARGIN-LEFT: 2px;
	MARGIN-RIGHT: 2px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
}

.bodybutton {
	BACKGROUND-IMAGE: url(../images/frmbtm.gif);
	BACKGROUND-REPEAT: repeat;
	COLOR: #000066;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 10pt;
	MARGIN-LEFT: 0px;
	MARGIN-TOP: 6px
}

.bodytitle {
	BACKGROUND-REPEAT: no-repeat;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	MARGIN-LEFT: 0px;
	MARGIN-TOP: 0px
}

.bodytree {
	COLOR: #000000;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 8pt;
	MARGIN-LEFT: 2px;
	MARGIN-TOP: 2px
}

.tabledataentry {
	BORDER-BOTTOM: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}

.tabledataentrynoborder {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}

.tablepanel {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif, ms pgothic;
	FONT-SIZE: 9pt;
	BORDER-COLLAPSE: collapse;
	BORDER: 0px none;
	WIDTH: 100%;
}

.celldataentryheading {
	BACKGROUND-COLOR: #0000A4;
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	COLOR: #ffef52;
	FONT-FAMILY: Tahoma, Verdana;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: left
}

.celllabeldataentry {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	COLOR: #000066;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 10pt
}

.celllabelrightalign {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-RIGHT: 6px;
	COLOR: #000080;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 6px;
	MARGIN-LEFT: 4px;
	MARGIN-TOP: 6px;
	TEXT-ALIGN: right
}

.celllabelleftalign {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-RIGHT: 6px;
	COLOR: #000080;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 6px;
	MARGIN-LEFT: 4px;
	MARGIN-TOP: 6px;
	TEXT-ALIGN: left
}

.celllabelinactive {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-RIGHT: 6px;
	COLOR: #808080;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 6px;
	MARGIN-LEFT: 4px;
	MARGIN-TOP: 6px;
	TEXT-ALIGN: right
}

.cellpanel {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 10pt;
	BORDER-BOTTOM: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-COLOR: #0000FF;
	WIDTH: 50%;
	PADDING-BOTTOM: 3%;
	PADDING-LEFT: 3%;
	PADDING-RIGHT: 3%;
	PADDING-TOP: 3%;
}

.tabledisplay {
	BORDER-BOTTOM: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	WIDTH: 100%
}

.tabledisplaynowidth {
	BORDER-BOTTOM: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
}

.celldisplay {
	BACKGROUND-COLOR: #cbeaf8;
	COLOR: #000066;
	FONT-FAMILY: verdana;
	FONT-SIZE: 10pt
}

.celldisplaylabel {
	BACKGROUND-COLOR: #cbeaf8;
	COLOR: #000066;
	FONT-FAMILY: verdana;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: right
}

.celldisplayheading {
	BACKGROUND-COLOR: #0000A4;
	COLOR: #ffef52;
	FONT-FAMILY: verdana;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold
}

.tabledisplaykey {
	BORDER-BOTTOM: 1px solid;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-BOTTOM: 1px;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	WIDTH: 100%
}

.celldisplaykeylabel {
	PADDING-RIGHT: 6px;
	COLOR: #666666;
	FONT-FAMILY: tahoma, verdana;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: right
}

.celldisplaykey {
	COLOR: #999999;
	FONT-FAMILY: tahoma, verdana;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: left
}

.tabledatakey {
	BORDER-BOTTOM: 2px ridge;
	BORDER-LEFT: 2px ridge;
	BORDER-RIGHT: 2px ridge;
	BORDER-TOP: 2px ridge;
	PADDING-BOTTOM: 1px;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	WIDTH: 100%
}

.celldatakeylabel {
	PADDING-RIGHT: 6px;
	COLOR: #000080;
	FONT-FAMILY: tahoma, verdana;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: right
}

.celldatakey {
	COLOR: #000080;
	FONT-FAMILY: tahoma, verdana;
	FONT-SIZE: 9pt;
	TEXT-ALIGN: left
}

.tableanchors {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
}

.cellanchors {
	PADDING-RIGHT: 6px;
	COLOR: #000000;
	FONT-FAMILY: tahoma, verdana;
	FONT-SIZE: 7pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-TOP: 3px;
	PADDING-BOTTOM: 3px;
	BORDER-RIGHT: 1px solid;
}

.backtotop {
	COLOR: #000000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 7pt;
	FONT-WEIGHT: bold;
	text-decoration: underline;
}

.hrsmall {
	COLOR: #000099;
	HEIGHT: 2px;
	WIDTH: 100%
}

.hrbig {
	COLOR: #000099;
	HEIGHT: 4px;
	WIDTH: 100%
}

.tabletitle1 {
	BACKGROUND-IMAGE: url(../images/top_bnr1.gif);
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	BORDER-TOP-WIDTH: 0px;
	HEIGHT: 47px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: relative;
	WIDTH: 1024px
}

.celltitle1 {
	COLOR: #ffff00;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 12pt;
	FONT-WEIGHT: bold;
	valign: top
}

.tabletitle2 {
	BACKGROUND-IMAGE: url(../images/top_bnr2.gif);
	COLOR: #000066;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 10pt;
	HEIGHT: 62px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: relative;
	WIDTH: 1024px
}

.celltitle2 {
	COLOR: #000080;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	valign: middle
}

.tablebutton {
	BORDER-BOTTOM: 0px solid;
	BORDER-LEFT: 0px solid;
	BORDER-RIGHT: 0px solid;
	BORDER-TOP: 0px solid;
	FLOAT: left;
	LEFT: 2px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: relative
}

.cellbutton {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

.tablemessage {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif;
	BORDER-COLLAPSE: collapse;
	BORDER-SPACING: 0px;
}

.cellmessage {
	COLOR: #000066;
	FONT-FAMILY: tahoma, verdana;
	FONT-SIZE: 8.5pt;
	TEXT-ALIGN: left;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}

.clsmandatory {
	COLOR: #FF0000
}

.fieldbold {
	FONT-WEIGHT: bold;
}

.textpanel {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 10pt;
}

.textpanel2 {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 7.5pt;
}