/* --
*********************************************************************************
*  Component:   PrintServer.css                                                 *
*  Description:                                                                 *
*                                                                               *
*********************************************************************************
*  Chg#             Description                                                 *
*                                                                               *
*  EN5231           Changed Screen colors                                       *
*                                                                               *
*********************************************************************************
*/


P
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 9pt
}
DIV
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 9pt
}

H1
{
    FONT-FAMILY: Verdana;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 18pt
}
H2
{   color: #000000; 
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    font-size: 11pt 
}
H3
{   color: #000000; 
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    font-size: 11pt 
    FONT-WEIGHT: bold;
}
A
{
}
A:visited
{
}
A:active
{
}
A:hover
{
    COLOR: #000000;
}
BODY
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 10pt;
}
.bodyws
{ 
	COLOR: #000000;
	FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
	FONT-SIZE: 10pt;
        MARGIN: 10px
}
.bodymessage
{
    BACKGROUND-COLOR: #ffffcc;
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 10px;
    MARGIN-LEFT: 10px;
    MARGIN-RIGHT: 2px;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
}
.bodybanner
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 10px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
}
.bodybutton
{
    BACKGROUND-IMAGE: url('/images/frmbtm.gif');
    BACKGROUND-REPEAT: repeat;
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 0px
}
.bodytitle
{
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
}
.bodytree
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 0px
}
.tabledataentry
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif, ms pgothic;
}
.tabledataentrynoborder
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.celldataentryheading
{
    BACKGROUND-COLOR: #0000A4;
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    COLOR: #ffef52;
    FONT-FAMILY: Tahoma, Verdana;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.celllabeldataentry
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10pt;
}
.celllabelrightalign
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-RIGHT: 6px;
    COLOR: #000080;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 6px;
    MARGIN-LEFT: 4px;
    MARGIN-TOP: 6px;
    TEXT-ALIGN: right
}
.celllabelleftalign
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-RIGHT: 6px;
    COLOR: #000080;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 6px;
    MARGIN-LEFT: 4px;
    MARGIN-TOP: 6px;
    TEXT-ALIGN: left
}
.celllabelinactive
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-RIGHT: 6px;
    COLOR: #808080;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 6px;
    MARGIN-LEFT: 4px;
    MARGIN-TOP: 6px;
    TEXT-ALIGN: right
}
.tabledisplay
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif, ms pgothic;
    WIDTH: 680
}
.tabledisplaynowidth
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif, ms pgothic;
}
.celldisplay
{
    BORDER-BOTTOM: 1px solid;
    BORDER-RIGHT: 1px solid;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 9pt
}
.celldisplaylabel
{
    BACKGROUND-COLOR: #cbeaf8;
    COLOR: #000000;
    FONT-FAMILY: verdana;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right

}
.celldisplayheading
{
    BORDER-BOTTOM: 1px solid;
    BORDER-RIGHT: 1px solid;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}
.tabledisplaykey
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-BOTTOM: 1px;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    WIDTH: 680
}
.celldisplaykeylabel
{
    PADDING-RIGHT: 6px;
    COLOR: #666666;
    FONT-FAMILY: tahoma, verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right
}
.celldisplaykey
{
    COLOR: #999999;
    FONT-FAMILY: tahoma, verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tabledatakey
{
    BORDER-BOTTOM: 2px ridge;
    BORDER-LEFT: 2px ridge;
    BORDER-RIGHT: 2px ridge;
    BORDER-TOP: 2px ridge;
    PADDING-BOTTOM: 1px;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    WIDTH: 777;
    text-ALIGN: CENTER;

}
.celldatakeylabel
{
    PADDING-RIGHT: 6px;
    COLOR: #000080;
    FONT-FAMILY: tahoma, verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right
}
.celldatakey
{
    COLOR: #000080;
    FONT-FAMILY: tahoma, verdana;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: left
}
.tableanchors
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
}
.cellanchors
{
    PADDING-RIGHT: 6px;
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-TOP: 3px;
    PADDING-BOTTOM: 3px;
    BORDER-RIGHT: 1px solid;
}
.backtotop
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
    text-decoration: underline;
}
.hrsmall
{
    COLOR: #000099;
    HEIGHT: 2px;
    WIDTH: 800
}
.hrbig
{
    COLOR: #000099;
    HEIGHT: 4px;
    WIDTH: 800
}
.tabletitle1
{
    border-width:0px; padding:0px; BACKGROUND-IMAGE: url('/images/top_bnr1.gif');
    HEIGHT: 47px;
    POSITION: relative;
    WIDTH: 1024px
}
.celltitle1
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 11pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: Center
}
.tabletitle2
{
    padding:0px; BACKGROUND-IMAGE: url('/images/top_bnr2.gif');
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10pt;
    HEIGHT: 62px;
    POSITION: relative;
    WIDTH: 1024px
}
.celltitle2
{
    COLOR: #000080;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    valign: middle
}
.tablebutton
{
    BACKGROUND-IMAGE: url('../images/frmbtm.gif');
    BORDER-BOTTOM: 0px solid;
    BORDER-LEFT: 0px solid;
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FLOAT: left;
    LEFT: 2px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative
}
.cellbutton
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.tablemessage
{
    BACKGROUND-COLOR: #ffffcc;
    COLOR: #000000;
    WIDTH: 824;
    HEIGHT: 70;
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
}
.cellmessage
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana;
    FONT-SIZE: 7pt;
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}
.clsmandatory
{
    COLOR: #FF0000
}
.fieldbold
{
    FONT-WEIGHT: bold;
}
.titlebanner
{
    WIDTH: 824;
}
.tablebutton
{
    HEIGHT: 56;
    WIDTH: 824
}
.cellbutton2
{
	display: none;

}
.cellbutton3
{
WIDTH: 0
	display: none;

}
.framesetcell
{
WIDTH: 824;
}

.celllabelbold
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}

.celltitlebold
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 11pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: Center
}


.celldataleftalign
{
    COLOR: #000000;
    FONT-FAMILY: tahoma, verdana, arial, helvetica, sans-serif, ms pgothic;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: left
}
