#******************************************************************************
#  All right, title and interest in and to the software        
#  (the "Software") and the accompanying documentation or      
#  materials (the "Documentation"), including all proprietary  
#  rights, therein including all patent rights, trade secrets, 
#  trademarks and copyrights, shall remain the exclusive       
#  property of Electronic Data Systems LLC.            
#  No interest, licence or any right respecting the Software      
#  and the Documentation, other than expressly granted in      
#  the Software Licence Agreement, is granted by implication   
#  or otherwise.                                               
#                                                              
#  (C) Copyright 2000-2008 Electronic Data Systems LLC.
#  All rights reserved.                                        
#                                                              
#  Each Party agrees to (a) comply with all applicable laws    
#  regarding export or re-export of the Confidential           
#  Information, technical data, or derivatives of such items;  
#  and (b) not to export or re-export any such items to a      
#  destination or end user for which applicable law, including 
#  Canadian or U.S. law, requires an export license or other   
#  approval without first having obtained such license or      
#  approval.                                                   
#******************************************************************************
#
# Master file for PathFinder definitions
#
# Attribute definitions

INCLUDE "Attributes.cfg";

# String tables

INCLUDE "TextsEnglish.cfg";
INCLUDE "TextsJapanese.cfg" "Shift_JIS";

# Session object

INCLUDE "Session.cfg";

# Process definitions

# Any processes that you want to pre-load can be specified here
# A sample displaying the format is shown below.  To activate it,
# uncomment the line and add any additional flows that should be
# pre-loaded at startup.

