#******************************************************************************
#  All right, title and interest in and to the software        
#  (the "Software") and the accompanying documentation or      
#  materials (the "Documentation"), including all proprietary  
#  rights, therein including all patent rights, trade secrets, 
#  trademarks and copyrights, shall remain the exclusive       
#  property of Electronic Data Systems LLC.            
#  No interest, licence or any right respecting the Software      
#  and the Documentation, other than expressly granted in      
#  the Software Licence Agreement, is granted by implication   
#  or otherwise.                                               
#                                                              
#  (C) Copyright 2000-2008 Electronic Data Systems LLC.
#  All rights reserved.                                        
#                                                              
#  Each Party agrees to (a) comply with all applicable laws    
#  regarding export or re-export of the Confidential           
#  Information, technical data, or derivatives of such items;  
#  and (b) not to export or re-export any such items to a      
#  destination or end user for which applicable law, including 
#  Canadian or U.S. law, requires an export license or other   
#  approval without first having obtained such license or      
#  approval.                                                   
#******************************************************************************

#******************************************************************************
# This file contains SESSION definitions used by PathFinder. There is one 
# SESSION definition used by PathFinder and there should be one SESSION 
# definition for each P-Step handler the system uses. If you want to use a new 
# P-Step handler make sure you add a SESSION definition for the new P-Step 
# handler.
#
# The special PathFinder session definition contains special session variables 
# used by PathFinder and INGENIUM. These variables are not sent to any P-Step 
# handler.  After a P-Step that has the UpdateSession attribute on it is
# executed, the handler will be asked to provide the value of variables
# defined in this section as OUT or INOUT.
#******************************************************************************

SESSION "PathFinder"
{
	# The following session variables are used only to provide default 
	# values for S-Step variables marked with the DefaultSession attribute.

	INOUT MIR-POL-ID-BASE;
	INOUT MIR-POL-ID-SFX;
	INOUT MIR-CLI-ID;
	INOUT MIR-IA-QUOT-NUM;
	INOUT MIR-DI-CLM-ID;
        INOUT MIR-CLM-ID;
        INOUT MIR-AGT-ID;

	# The following session variables are retrieved once after a user signs-on
	# and stored by PathFinder unchanged for the entire duration of a user 
	# session. These variables are retrieved only after executing a P-Step
	# marked with the UpdateSession attribute.

	INOUT MIR-CTRY-DT-FRMT-CD
	{
		Constant;
	}

	INOUT MIR-CTRY-DT-SPRT-CD
	{
		Constant;
	}

	INOUT MIR-CTRY-LEAD-ZERO-IND
	{
		Constant;
	}

	INOUT MIR-CRCY-SYMBL-CD
	{
		Constant;
	}

	INOUT MIR-CRCY-THOU-SPRT-CD
	{
		Constant;
	}

	INOUT MIR-CRCY-DCML-SPRT-CD
	{
		Constant;
	}

	INOUT MIR-CRCY-NEG-PLACE-CD
	{
		Constant;
	}

	INOUT MIR-CRCY-PLACE-CD
	{
		Constant;
	}

	INOUT MIR-CRCY-SCALE-QTY
	{
		Constant;
	}

	INOUT MIR-DV-ISO-DT-FRMT-IND 
	{
		Constant;
	}

	INOUT MIR-USER-ID
	{
		Constant;
	}

	INOUT MIR-CO-ID
	{
		Constant;
	}

	INOUT MIR-USER-SESN-CRCY-CD
	{
		Constant;
	}

	INOUT MIR-USER-SESN-CTRY-CD
	{
		Constant;
	}
}

#******************************************************************************
# P-Step handler specific SESSION variable definitions. 
#
# Make sure the quoted string after the SESSION keyword is the fully qualified 
# name of the Java class implementing the P-Step handler. 
#
# Variables marked as IN or INOUT are sent to the PStepHandler whenever a
# PStep using that handler is about to be executed.  After execution of the
# PStep, the handler will be asked to provide the value of any session variable
# marked as OUT or INOUT.  Variables that are not marked as Constant can be
# set in the flow.  Variables that are marked as Constant can only be updated
# by the PStepHandler associated with them.
#******************************************************************************

# Session variables for the default P-Step handler. The default P-Step handler 
# is used by PathFinder to execute all the P-Steps that have not defined the 
# Handler attribute. 

SESSION "com.solcorp.ingenium.pathfinder.IngeniumPStepHandler"
{
	OUT LSIR-MORE-DATA-IND
	{
		Constant;
	}

	OUT LSIR-BPF-ID
	{
		Constant;
	}

	OUT LSIR-PRCES-ID
	{
		Constant;
	}

	OUT LSIR-USER-SESN-ID
	{
		Constant;
	}

	OUT LSIR-SECUR-CLAS-ID
	{
		Constant;
	}

	OUT LSIR-SYS-TIME
	{
		Constant;
	}

	OUT LSIR-SYS-DT-EXT
	{
		Constant;
	}

	OUT LSIR-TASK-ID
	{
		Constant;
	}

	OUT LSIR-USER-LANG-CD
	{
		Constant;
	}

	OUT LSIR-MOS-ABBR-TXT
	{
		Constant;
	}

	OUT LSIR-PRCES-DT
	{
		Constant;
	}
}

#******************************************************************************
# Add any SESSION definitions required for new P-Step handlers after this 
# comment.
#******************************************************************************

SESSION "com.solcorp.clearinghouse.translationhandler.MQPStepHandler"
{
}

#******************************************************************************
# Add any SESSION definitions required for Web Services P-Step handler after 
# this comment.
#******************************************************************************

SESSION "com.solcorp.pathfinder.webservices.WebServicePStepHandler"
{
}
#******************************************************************************
# Add any SESSION definitions required for Web Services P-Step handler after 
# this comment.
#******************************************************************************

SESSION "com.solcorp.pathfinder.webservices.jaxws.SourceWebServicePStepHandler"
{
}
